<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Frigate Tech helps Business to take better Decisions & Solutions.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science Consulting Services</h4>
                    <p class="text-muted">Optimized supply chain management,Personalized customer experience,Sales effectiveness,Customer behavior prediction, Improved production efficiency</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Visualization</h4>
                    <p class="text-muted">Technology Stack: Tableau, Microsoft Power BI, QlikView, Microsoft PowerPivot, Microsoft Power View</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analytics Consulting</h4>
                    <p class="text-muted">Data Analytics Consulting to Shift from Scattered Data to Informed Decisions. </p>
                </div>
            </div>
        </div>
    </section>